html {
    background-color: lightseagreen;
        }

.first{
    h1 {
        color: lightcyan;
    }
}
.second{
    h1 {
        color:lightsteelblue;
    }
}

.third{
    h1 {
        color:lightskyblue;
    }
}